/* All of the website's CSS needs to be in this file. utilize id's to apply targeted styles */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

nav {
    background-color: #000000;
    color: white;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}